*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 99vw;
    min-height: 100vh;
    background-color: #c9d9f4;
}

header {
    width: 100%;
    height: 10%;
    background-color: #2f3e79;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


